DB_NAME=db_name
DB_USER=db_user
DB_HOST=db_host
DB_PORT=db_port
DB_PASSWORD=db_password
APPLICATION_ROOT=/gn2pg
SERVER_NAME=localhost

GUNICORN_WORKERS_TO_SET=4
GUNICORN_TIMEOUT_TO_SET=30
GUNICORN_PORT_TO_SET=5001


